APP_NAME=
APP_ENV=

HTTP_URL=
HTTP_PORT=
HTTP_ALLOWED_ORIGINS=

POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASS=
POSTGRES_DB=
POSTGRES_PORT=

TOKEN_DURATION=

RESEND_API_KEY=
FROM_EMAIL=
CC_EMAIL=

ENABLE_AUTH=
CLERK_SECRET_KEY=
CLERK_API_KEY=
CLERK_API_URL=
CLERK_USERAPI_URL=

GOOGLE_CREDENTIALS_PATH=
GOOGLE_SHEET_ID=

DIALOG_ESMS_USERNAME=
DIALOG_ESMS_PASSWORD=
DIALOG_ESMS_SENDER_ADDRESS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

DIALOG_CALLBACK_X_API_KEY=