APP_NAME=RIMS
APP_ENV=development

HTTP_URL=http://localhost
HTTP_PORT=8080
HTTP_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080

POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASS=password
POSTGRES_DB=rims_db
POSTGRES_PORT=5432

TOKEN_DURATION=24h


RESEND_API_KEY=your_resend_api_key_here
FROM_EMAIL=noreply@yourcompany.com
CC_EMAIL=admin1@yourcompany.com,admin2@yourcompany.com
BCC_EMAIL=admin1@yourcompany.com,admin2@yourcompany.com

ENABLE_AUTH=true
CLERK_SECRET_KEY=your_clerk_secret_key_here
CLERK_API_KEY=your_clerk_api_key_here
CLERK_API_URL=https://api.clerk.com
CLERK_USERAPI_URL=https://api.clerk.dev/v1/users

GOOGLE_CREDENTIALS_PATH=Add path for credentials.json file
GOOGLE_SHEET_ID=

DIALOG_ESMS_USERNAME=add dialog esms username
DIALOG_ESMS_PASSWORD=add dialog esms password
DIALOG_ESMS_SENDER_ADDRESS=add dialog esms sender address

CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret

DIALOG_CALLBACK_X_API_KEY=your_dialog_callback_x_api_key_here